@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
    --color-bg: #ebebeb;
}
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    background-color: var(--color-bg);
    font-family: 'Open Sans', sans-serif;
}
.card {
    margin: auto;
    width: 300px;
    height: 450px;
    margin-top: 100px;
    background-color: #FFFFFF;
    transition: all 1.5s ease;

}
.card__img {
    height: 75%;
    background-color: #f8f8f8;
    overflow: hidden;
    transition: all 1.5s ease;
}
.card__img img {
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 15px;
    transition: all 1.5s ease;
}
.btndetalles {
    position: absolute;
    left: 90px;
    top: 80px;
    width: 120px;
    height: 40px;
    border: 2px solid #FFFFFF;
    text-align: center;
    color: #ffffff;
    padding-top: 9px;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 1.5s ease;
}
.card__detalle {
    position: relative;
    height: 25%;
    padding: 30px 30px;
    overflow: hidden;
    transition: all 1.5s ease;
}
.card__nuevo {
    margin-top: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all 1.5s ease;
}
h3 {
    color: #4d4d4d;
}
p {
    color: #cccccc;
    font-size: 13px;
}
.precio {
    position: absolute;
    top: 33px;
    left: 80%;
    color: #82cab2;
    font-weight: bold;
    z-index: 1000;
}
.subtitulo {
    color: #000000;
    font-weight: bold;
}
.color {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px var(--color-bg);
}
.c1 {
    background-color: #6183da;
}
.c2 {
    background-color: #ff6163;
}
.c3 {
    background-color: #FFFFFF;
}
.c4 {
    background-color: #3bc087;
}
.card:hover {
    box-shadow: #bbb 0px 0px 20px;
    transition: all 1.5s ease;
    transform: scale(1.05);
    cursor: pointer;
}
.card:hover .card__img {
    height: 50%;
    overflow: hidden;
    background-color: #7ee4bc;
    transition: all 1.5s ease;
}
.card:hover .card__img img {
    opacity: 0.3;
    transition: all 1.5s ease;
}
.card:hover .card__detalle {
    height: 50%;
    transition: all 1.5s ease;
}
.card:hover .card__nuevo, .card:hover .btndetalles {
    transition: all 1s ease;
    visibility: visible;
    opacity: 1;
}
.btndetalles:hover {
    background-color: #7ee4bc;;
}